body {
    font-family: 'Prompt', sans-serif;
    background-color: #A38560;
    height: 100vh;
  }
  
  div{
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .divform{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;  
    padding: 15px;
    width: 447px;
    height: 598px;
    margin-top: 5%;
    margin-bottom: 3%;
    margin-right: 2%;
    margin-left: 2%;
    width: auto;
    border: #0f0d0d;
    border-radius: 10px;
    background-color: #D4AA7D;
  }


  form{
    display: flex;
    justify-content: center;
    margin: 0;
  }

h2{
  font-size: 30px;
  color: #e50800;
  font-weight: bold;
  margin-bottom: 20px;
  margin-top: 20px;
}

h2:hover{
  color: #70161E;
}

#converterForm {
    
    margin-top: 10px;
    padding: 0;
    width: auto;
   
  }
  
  label {
    display: flex;
    flex-direction: column;
    font-size: 30px;
    margin-bottom: 20px;
    color: #70161E;
    text-align: center;
  }

  .subtitle{
    font-size: 15px;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
    
  }
  
  input[type="text"] {
    width: 200px;
    padding: 5px;
  }
  
  button {
    padding: 20px;
    width: 200px;
    font-size: 20px;
    background-color: #70161E;
    color: white;
    border: none;
    border-radius: 10px;
    margin-top: 20px;
    cursor: pointer;
  }

  button:hover{
    transition: 1.5s;
    background-color: #0f0d0d;
  }


#resultado {
 
  font-size: 25px;
  margin-top: 20px;
  font-weight: bold;
  color: #0f0d0d;
  margin: 5%;
}