:root {
  --cor-primaria: #A38560; /* marrom */
  --cor-secundaria: #70161E; /* vinho */
  --cor-preto: #0f0d0d; /* preto */
  --cor-div:#D4AA7D; /* bege */
}


body {
    font-family: 'Prompt', sans-serif;
    background-color: var(--cor-primaria) ;
    height: 100vh;
  }
  
  div{
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .divform{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;  
    padding: 15px;
    width: 447px;
    height: 598px;
    margin-top: 5%;
    margin-bottom: 3%;
    margin-right: 2%;
    margin-left: 2%;
    width: auto;
    border: var(--cor-preto);
    border-radius: 10px;
    background-color: var(--cor-div);
  }


  form{
    display: flex;
    justify-content: center;
    margin: 0;
  }

h2{
  font-size: 20px;
  color: var(--cor-secundaria);
  font-weight: bold;
  margin-bottom: 20px;
  margin-top: 20px;
}

h2:hover{
  color:var(--cor-preto);
}

#converterForm {
    
    margin-top: 10px;
    padding: 0;
    width: auto;
   
  }
  
  label {
    display: flex;
    flex-direction: column;
    font-size: 30px;
    margin-bottom: 20px;
    color: var(--cor-secundaria);
    text-align: center;
  }

  .subtitle{
    font-size: 25px;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
    
  }
  
  input[type="text"] {
    width: 200px;
    padding: 5px;
  }
  
  button {
    padding: 20px;
    width: 200px;
    font-size: 20px;
    background-color: var(--cor-secundaria);
    color: white;
    border: none;
    border-radius: 10px;
    margin-top: 20px;
    cursor: pointer;
  }

  button:hover{
    transition: 1.5s;
    background-color: var(--cor-preto);
  }


#resultado {
 
  font-size: 25px;
  margin-top: 20px;
  font-weight: bold;
  color: var(--cor-preto);
  margin: 5%;
}